<div class="container">
    <div class="metro-grid">
        <a href="http://zodream.localhost/blog">
            博客
        </a>
        <a href="http://zodream.localhost/doc">
            文档
        </a>
        <a href="http://zodream.localhost/tool">
            工具
        </a>
        <a href="http://zodream.localhost/forum">
            圈子(DEMO)
        </a>
        <a href="http://zodream.localhost/shop">
            <div class="name">商城(DEMO)</div>
            <p class="desc">商品来源于淘宝联盟</p>
        </a>
        <a class="unknow" href="http://zodream.localhost/cms">
            <img src="http://zodream.localhost/assets/images/zd_seo.jpg" alt="">
            CMS(DEMO)
        </a>
    </div>

    <div class="panel">
        <div class="panel-header">
            最新博客
        </div>
        <div class="panel-body">
            <div class="list-item"><a class="name" href="http://zodream.localhost/blog?id=54">windows下设置Git 区分文件名大小写</a><div class="time">2019-04-21</div></div><div class="list-item"><a class="name" href="http://zodream.localhost/blog?id=53">字体反爬与反反爬</a><div class="time">2019-04-15</div></div><div class="list-item"><a class="name" href="http://zodream.localhost/blog?id=52">Gulp 插件开发</a><div class="time">2019-04-05</div></div><div class="list-item"><a class="name" href="http://zodream.localhost/blog?id=51">微信小程序自用框架开发</a><div class="time">2019-04-03</div></div><div class="list-item"><a class="name" href="http://zodream.localhost/blog?id=50">兴业银行支付PHP-SDK 踩坑</a><div class="time">2019-04-03</div></div><div class="list-item"><a class="name" href="http://zodream.localhost/blog?id=49">理解Redux</a><div class="time">2019-04-01</div></div>        </div>
    </div>
</div>
