{{ define "blog/index-header"}}
<link type="text/css" href="/assets/css/blog.css" rel="stylesheet" media="all">
{{ end }}
{{ define "blog/index-footer"}}
<script src="/assets/js/blog.min.js"></script>
{{ end }}
<div id="book-page" class="book-skin">
    <div class="book-title">
        <ul class="book-nav">
            <li class="book-navicon">
                <i class="fa fa-bars"></i>
            </li>
            <li class="active">
                <a href="/blog">博客</a></li>
            <li class="book-search">
                <form>
                    <input type="text" name="keywords" value="">
                    <i class="fa fa-search"></i>
                    <ul class="search-tip">
                    </ul>
                </form>
            </li>
        </ul>
    </div>

    <div class="book-sidebar">
        <div class="book-chapter">
            <ul>
                <li>
                    <i class="fa fa-bookmark"></i><a href="/blog?category=1">DEBUG问题集</a></li>
                <li>
                    <i class="fa fa-bookmark"></i><a href="/blog?category=2">zodream框架</a></li>
                <li>
                    <i class="fa fa-bookmark"></i><a href="/blog?category=3">技术</a></li>
                <li>
                    <i class="fa fa-bookmark"></i><a href="/blog?category=4">其他</a></li>
                <li>
                    <i class="fa fa-bookmark"></i><a href="/blog?category=5">休闲</a></li>
                <li>
                    <i class="fa fa-bookmark"></i><a href="/blog?category=6">游戏</a></li>
                <li>
                    <i class="fa fa-bookmark"></i><a href="/blog?category=7">Demo</a></li>
                <li>
                    <i class="fa fa-bookmark"></i><a href="/blog?category=8">算法</a></li>
            </ul>
        </div>
        <div class="book-new">
            <h3>最新文章</h3>
            <ul>
                <li>
                    <i class="fa fa-bookmark"></i><a href="/blog?id=54">windows下设置Git
                        区分文件名大小写</a></li>
                <li>
                    <i class="fa fa-bookmark"></i><a href="/blog?id=53">字体反爬与反反爬</a></li>
                <li>
                    <i class="fa fa-bookmark"></i><a href="/blog?id=52">Gulp 插件开发</a></li>
                <li>
                    <i class="fa fa-bookmark"></i><a href="/blog?id=51">微信小程序自用框架开发</a></li>
            </ul>
        </div>
    </div>

    <div class="book-body">
        <div class="book-sort">
            <a href="/blog?sort=recommend">推荐</a>
            <a class="active" href="/blog?sort=new">最新</a>
            <a href="/blog?sort=hot">最热</a>
        </div>
        {{ range .Blogs }}
        <dl class="book-item">
            <dt><a href="/blog?id=54">{{ .Title }}</a>
                <span class="book-time">2019-04-21</span></dt>
            <dd>
                <p>windows下设置Git 区分文件名大小写</p>
                <a class="author" href="/blog?user=1"><i
                        class="fa fa-edit"></i><b>zodream</b></a>
                <a class="category" href="/blog?category=1"><i
                        class="fa fa-bookmark"></i><b>DEBUG问题集</b></a>
                <span class="comment"><i class="fa fa-comments"></i><b>0</b></span>
                <span class="agree"><i class="fas fa-thumbs-up"></i><b>0</b></span>
                <span class="click"><i class="fa fa-eye"></i><b>26</b></span>
            </dd>
        </dl>
        {{ end }}
       
    </div>
    <div class="book-footer">
        <ul class="book-pager">
            <li class="active">1</li>
            <li><a href="/blog?page=2">2</a></li>
            <li><a href="/blog?page=3">3</a></li>
        </ul>
        <div class="book-clear">

        </div>
    </div>

</div>